{% extends 'master.html' %}

{% block head%}

    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


{% endblock %}



{% block body %}

    <div class="search-bar">
    <input type="text" name="" class="search-txt" placeholder="Please enter keyword..."/>
    <a class="search-btn">
    <i class="far fa-search"></i>
    </a>
    </div>

    {% for tweet in content %}
            <p>{{tweet}}</p>
        {% endfor %}

{% endblock %}

